- @sub0 = ["Doctors", "doctors"]
- @sub1 = ["Dr. Frank Ponce III", "#ponce"]
- @sub2 = ["Dr. No", "no"]
- @sub3 = ["Our Staff", "#staff"]

- @title = " | "+ @sub0[0]
- @subtitle = ""
- @body_class = "two"



%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}





.body
  .center
    .content
      #two.sidebar.left
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub3[1]}
        /         =@sub3[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]

        .text
          %h1 What is a Family Nurse Practitioner?
          %p Family Nurse Practitioners are nurses with advanced education and training who can diagnose and treat a wide range of health issues for both adults and children&mdash;including writing prescriptions, as needed.
          %p To be licensed as a Family Nurse Practitioner, these providers must first complete the education and training necessary to be a registered nurse and then go on to earn a Master's or Doctorate degree in advanced nursing practice. Additionally, they are required to pass a national board certification in their area of speciality. They have a thorough background in family healthcare, including pediatric training and expertise.

          
      

      #two.main
        .content
          / %a{:name => @sub3[1]}
          / .section.no-image
          /   %h1=@sub3[0]
          /   %p Lorem ipsum dolor sit amet
          / .spacer
          

          %a{:name => @sub1[1]}
          .section
            %img{:src => "images/two-1.jpg"}
            %h1=@sub1[0]
            %p
              Birthplace: Washington, DC
              %br
              Marital Status: Married to Yana Giselle Ponce
              %br
              Hobbies: Boating, golfing, skiing, billiards, watching college basketball
            %p
              %b Board Certification:
              %br
              American Board of Family Medicine 2009

            %p
              Education:
              %br
              2006 &ndash; 2009
              %br
              San Jacinto Methodist Hospital Family Medicine Residency (Baytown, TX) 
              %br
              Chief resident 
            %p
              2002 &ndash; 2006 
              %br
              Ross University School of Medicine (Dominica)
              Doctor of Medicine
            %p
              1999 &ndash; 2001 
              %br
              The George Washington University (Washington, DC)
              Masters of Public Health in Epidemiology
            %p
              1995 &ndash; 1999 
              %br
              University of Maryland (College Park, MD) 
              Bachelor of Science in Neurobiology and Physiology
            %p
              1994 &ndash; 1995 
              %br
              Villanova University (Villanova, PA) 
              St. Martin de Porres Academic Scholarship
            %p
              %b Hospital Affiliations:
              %br
              CHRISTUS St. John's Hospital (Nassau Bay, TX) - Active
              %br
              Clear Lake Regional Medical Center (Webster, TX) - Active
              %br
              Brazosport Regional Health System (Lake Jackson, TX) - Active
            %p
              %b Professional Affiliations:
              %br
              American Association of Family Physicians (AAFP)
              %br
              American Medical Association (AMA)
              %br
              Harris County Medical Society (HCMS)
              %br
              Texas Academy of Family Physicians (TAFP)
            %p
              %b Certifications:
              %br
              Advanced Cardiac Life Support (ACLS)
              %br
              Advanced Life Support in Obstetrics (ALSO)
              %br
              Neonatal Resuscitation Program (NRP)   
            
                    
          / .spacer
          / %a{:name => @sub2[1]}
          / .section
          /   %img{:src => "images/two-2.jpg"}
          /   %h1=@sub2[0]
          /   %p
          /     %b Lorem ipsum dolor sit amet
          /     %br
          /     Consectetur adipiscing elit. Nunc et lacus id augue dapibus blandit nec in tortor. Cras vitae erat sed justo malesuada elementum. Donec eget nulla nec nisl tincidunt lobortis ac sit amet felis. Ut nec neque leo. Cras at magna odio, ut mattis urna. Sed sed ipsum augue. Phasellus ac justo quis sem pellentesque varius nec vel felis. Proin ullamcorper adipiscing mauris nec dignissim.
          /   %p In a risus quam, eget posuere velit. Cras est dui, placerat at volutpat vel, mattis at enim. Fusce sit amet erat in velit placerat varius. Vivamus dolor lectus, lobortis in dapibus at, sodales in augue. Morbi tempor varius molestie.
          / 
          /   %p
          /     %b Proin nec magna arcu, id fermentum dui
          /     %br
          /     Nunc ac elit quis eros sodales iaculis. Sed diam diam, facilisis ut venenatis a, placerat ut neque. Suspendisse lacus risus, ultricies a rutrum vitae, hendrerit quis metus. Vivamus elementum, orci ultricies tempus mattis, mauris turpis volutpat ipsum, ac vehicula leo mauris eget sem. Praesent sollicitudin mi nec lectus congue sed aliquam libero fringilla. Fusce a sem massa. Vivamus et urna ut turpis bibendum suscipit eget pellentesque nunc. Aliquam ac dignissim metus. Praesent feugiat faucibus rutrum.
          /   %p Suspendisse nec tincidunt metus. Integer neque enim, ultricies sit amet vulputate eu, euismod pellentesque sem. Nam in consectetur libero. Mauris viverra, purus vitae dictum sagittis, erat elit bibendum mauris, ullamcorper laoreet elit nulla nec enim. Aliquam quis quam erat, vitae ullamcorper arcu. Cras vel diam odio. Fusce enim arcu, aliquet et congue nec, tincidunt ut metus.
          / 
          /   %p
          /     %b Aliquam auctor scelerisque fermentum
          /     %br
          /     Quisque vulputate, nunc luctus tempor adipiscing, mauris libero auctor felis, at ullamcorper augue massa vel felis. Suspendisse auctor neque eget justo tempor gravida. Curabitur scelerisque eros nec dolor convallis auctor eleifend risus blandit. Donec tempus quam quis velit laoreet eu blandit neque aliquet. Phasellus vulputate accumsan convallis.
          /   %p Aliquam tristique, nunc nec bibendum fermentum, metus nunc congue elit, non suscipit mauris mauris in sapien. Vestibulum dictum, massa et pellentesque malesuada, mauris sapien imperdiet enim, eu dictum nisl urna eu tortor. Aliquam sagittis tempor risus.  
          /   %p Praesent quis porttitor ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pulvinar facilisis metus, vitae blandit lacus tincidunt non.

